* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: block;
}

#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: start;
}

h1 {
    font-size: 2.4rem;
    color: darkblue;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: .7rem;
    color: crimson;
    
}

h3::first-letter{text-transform: uppercase;}

p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: block;
    text-align: justify;
}

p::first-letter{text-transform: uppercase;}

input[type="text"] {
    border: 4px solid rgb(28, 5, 146);
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;

}

input{margin: 0 auto;}
form{width: 40%;
    
    margin: 0 auto;
   }

.button {
    background-color: darkblue;
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 1rem 0 2rem;
    padding: 1rem 2rem;
    width: fit-content;
    margin: 5rem auto;

}

.button:hover {
    opacity: .75;
}

.posts-item {
    width: calc(100% / 3);
    padding: 1rem;
}
